@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Prompt:wght@400;600&family=Quattrocento+Sans&family=Roboto:wght@300;400&family=Syne+Tactile&family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    background-color: rgb(24, 123, 24);
    margin-top: 100px;
    font-family: 'Prompt', sans-serif;
}
h1{
    color: goldenrod;
    font-size: 70px;
}
p{
    color: white;
    font-size: 40px;
}
#message-el{
    font-style: italic;
}
#start-game,#new-card{
    background-color: goldenrod;
    color: rgb(8, 132, 8);
    font-size: 30px;
    padding: 4px;
    font-weight: bold;
    border: none;
    font-family: 'Prompt', sans-serif;
}